---
import { sanityClient } from "sanity:client";

import Layout from "@layouts/Layout.astro";
import FeaturedProjects from "@components/FeaturedProjects.svelte";
import SanityImage from "@components/SanityImage.astro";
import MuxVideo from "@components/MuxVideo.svelte";

import { feturedProjectsQuery } from "@utils/queries";
import type { Project } from "../types";

const projects: Project[] = await sanityClient.fetch(feturedProjectsQuery);

const layoutClasses = {
  full: {
    wrapper: "col-span-full",
    content: "w-full h-full object-contain sm-t:object-cover",
  },
  center: {
    wrapper: "col-span-full sm-t:col-start-2 sm-t:col-span-3",
    content: "object-contain top-1/2 -translate-y-1/2 h-full",
  },
  left: {
    wrapper: "col-span-full sm-t:col-span-4",
    content: "h-full object-contain",
  },
  right: {
    wrapper: "sm-t:col-start-2 col-span-full",
    content: "h-full object-contain",
  },
};
---

<Layout>
  <FeaturedProjects projects={projects} client:load>
    {
      projects.map((project) => (
        <li class="text-b2 grid-main relative h-full w-full max-h-dvh">
          {project.cover.type === "image" && (
            <SanityImage
              image={project.cover.image}
              class:list={[
                "h-full max-h-dvh w-full",
                layoutClasses[project.cover.layout].wrapper,
              ]}
              imgClass={layoutClasses[project.cover.layout].content}
            />
          )}
          {project.cover.type === "video" && project.cover?.video?.asset && (
            <MuxVideo
              client:load
              video={project.cover.video}
              class:list={[
                "h-full max-h-dvh w-full",
                layoutClasses[project.cover.layout].wrapper,
              ]}
              imgClass={layoutClasses[project.cover.layout].content}
            />
          )}
        </li>
      ))
    }
  </FeaturedProjects>
</Layout>
