---
import Layout from "@layouts/Layout.astro";
import Draggable from "@components/Draggable.svelte";

import { Image } from "astro:assets";
import MuxVideo from "@components/MuxVideo.svelte";

import type { Experiment } from "../../types";

import PunakaikiPortrait from "@assets/img/punakaiki-portrait.jpg";
import NaoshimaPortrait from "@assets/img/naoshima-portrait.png";
import FallingSand from "@assets/img/falling-sand.png";

const pageSEO = {
  title: "Lab",
  description: "Lab experiments",
  keywords: [
    "Web Development",
    "Frontend Development",
    "Web Development Portfolio",
    "Frontend Development Portfolio",
  ],
};

const sizes = {
  small: "sm-t:max-w-[20vw]",
  medium: "sm-t:max-w-[25vw]",
  large: "sm-t:max-w-[33.33333vw]",
  xlarge: "sm-t:max-w-[50vw]",
};

const experiments: Experiment[] = [
  {
    title: "Particles",
    type: "video",
    src: "lanelps/lanelps_Particles_1_tvfq5l",
    size: "large",
  },
  {
    title: "Punakaiki",
    type: "image",
    src: PunakaikiPortrait,
    size: "medium",
  },
  {
    title: "Pepeha",
    type: "text",
    text: `Tēnā koe.
    Ko Tititea te maunga.
    Ko Wānaka te Awa.
    Ko Mātaatua tōku waka.
    Ko Ngāpuhi tōku iwi.
    Ko Tauwhara tōku marae.
    Nō Tāmaki ahau.
    Ko Le Prevost-Smith tōku whānau.
    Ko Lane Wirihana tōku ingoa.`,
    size: "large",
  },
  {
    title: "Boids",
    type: "video",
    src: "lanelps/boids-layout_2_wf1z3p",
    size: "medium",
  },
  {
    title: "Naoshima Island",
    type: "image",
    src: NaoshimaPortrait,
    size: "small",
  },
  {
    title: "Falling Sand",
    type: "image",
    src: FallingSand,
    link: "falling-sand",
    size: "medium",
  },
];
---

<Layout seo={pageSEO}>
  <div class="h-[100dvh] overflow-x-hidden overflow-y-scroll">
    <ul class="sm-t:flex-row sm-t:flex-wrap flex w-full flex-col bg-white">
      {
        experiments.map((experiment, i) => {
          const index = i > 9 ? i + 1 : `0${i + 1}`;

          return (
            <Draggable class="mix-blend-difference" client:load>
              <li>
                <div
                  class={`sm-t:w-[auto] pointer-events-none w-screen invert ${sizes[experiment.size]}`}
                >
                  {experiment.type === "video" && experiment.src && (
                    <MuxVideo
                      client:load
                      video={{ public_id: experiment.src }}
                      width={960}
                      class="select-none"
                    />
                  )}
                  {experiment.type === "image" &&
                    experiment.src &&
                    typeof experiment.src === "object" && (
                      <Image
                        src={experiment.src}
                        alt={experiment.title}
                        class="object-cover select-none"
                      />
                    )}
                  {experiment.type === "text" && (
                    <p class="text-h1 text-deep-purple !font-serif !font-normal select-none">
                      {experiment.text}
                    </p>
                  )}
                </div>

                <header class="text-caption text-grey-invert select-none">
                  <span>{index}</span>
                  <h2 class="inline">{experiment.title}</h2>
                </header>

                {experiment?.link && (
                  <a
                    href={`/lab/${experiment.link}`}
                    class="link sm-t:opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 select-none group-hover:opacity-100"
                  >
                    View
                  </a>
                )}
              </li>
            </Draggable>
          );
        })
      }
    </ul>
  </div>
</Layout>
